.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand{href: "#"}
					RYAN SN
					%i.fa.fa-circle.main-color>
					DGRASS
			.navbar-collapse.collapse
				%ul.nav.navbar-nav.navbar-right
					%li.active
						%a{href: "index.html"} HOME
					%li
						%a{href: "portfolio.html"} WORKS
					%li
						%a{href: "mailto:langenhagen.rs@gmail.com"} langenhagen.rs@gmail.com
					%li
						%a{href: "tel:9046875314"} (904) 687-5314
	