%body
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand{href: "#"}
					RYAN SN
					%i.fa.fa-circle.main-color>
					DGRASS
			.navbar-collapse.collapse
				%ul.nav.navbar-nav.navbar-right
					%li.active
						%a{href: "index.html"} HOME
					%li
						%a{href: "portfolio.html"} WORK
					%li
						%a{href: "https://www.dropbox.com/s/74dtaakr5yvo98a/Ryan%20Snodgrass%20Resume.pdf"} RESUME
					%li
						%a{href: "mailto:ryansnodgrass.dev@gmail.com"} ryansnodgrass.dev@gmail.com
					%li
						%a{href: "tel:9046875314"} (904) 687-5314      
					%li
						%a{href: "https://github.com/RyanSnodgrass"}
							%i.fa.fa-git
					%li
						%a{href: "http://www.linkedin.com/pub/ryan-snodgrass/96/3b8/241/"}
							%i.fa.fa-linkedin
	#headerwrap
		.container
			.row.centered
				.col-lg-8.col-lg-offset-2
					%h1
						Solving Problems
						%b For The Web
					%h2 For You
	.container.w
		.row.centered
			%br/
			%br/
			.col-lg-4.col-md-4
				%i.fa.fa-database
				%h4 RUBY ON RAILS
				%p From databases and servers, to stylish CSS - I am engineering solutions running on the popular and powerful Ruby on Rails platform following the “Rails Way”: convention over configuration, “DRY” coding, and RESTful routing.
			.col-lg-4.col-md-4
				%i.fa.fa-microphone
				%h4 SINATRA
				%p For when you need something less complicated. Sinatra is a lightweight Rack based framework similar to Ruby on Rails. With less time spent fussing over opinionated software, I can get your app up and running in less time.
			.col-lg-4.col-md-4
				%i.fa.fa-html5
				%h4 HTML CSS JAVASCRIPT
				%p Making use of popular templates such as Bootstrap, Foundation, and Pure, now your website will look just as slick as the backend is awesome! Templates quicken development and pride is taken to make sure each app looks unique.
		%br/
		%br/

	/ PORTFOLIO SECTION
	#portfolio
		.container
			%ul#grid.grid.effect-2
				%li
					%a{href: "portfolio.html"}
						%img{src: "images/portfolio/liqo.jpg"}/
				%li
					%a{href: "portfolio.html#horserace"}
						%img{src: "images/portfolio/horserace.gif"}/
				%li
					%a{href: "portfolio.html#courseapp"}
						%img{src: "images/portfolio/sinatra_four_hw_screenshot_resize.jpg"}/
				%li#about
					%a{href: "portfolio.html#fsm"}
						%img{src: "images/portfolio/FSM_app_resize.jpg"}/
			.row
				.col-sm-6.col-sm-offset-3.centered
					%h1.encourage
						%i.fa.fa-angle-double-down
			
	/ SERVICES SECTION
	#services
		.container
			.row.mt
				.col-lg-10.col-lg-offset-1.centered
					%h3 About
					%p Ryan is a movie buff who recently moved to the Atlanta area from Orlando, FL. After realizing his degree in Cinematic Studies from the University of Central Florida wouldn't land him the job he wanted, Ryan started learning to code at Tree House. He's been hooked ever since. He recently graduated from The Iron Yard in Atlanta after building more apps than he can count. In his downtime he likes to stay active by running his favorite mountain - Kennesaw, rock climb, and has a passion for youth programs.
				
	/ BLOG POSTS
	.container
		.row.mt
			.col-lg-12
				%h1 Recent Posts - The Snodgrasstic Dialogues
			.col-lg-8
				%p My latest musings on all things code
			.col-lg-4.goright
				%p
					%a{href: "http://www.snodgrassry.wordpress.com"}
						%i.fa.fa-angle-right
						See All Posts
		.row.mt
			.col-lg-4
				%img.img-responsive{alt: "", src: "images/portfolio/modal_example.jpg"}/
				%h3
					%a{href: "http://snodgrassry.wordpress.com/2014/07/01/modal-tutorial/"} So You Want a Modal?
				%p The modal is one of the things every beginning developer has come to in order to spruce up their website. Make it look less like a static page and more dynamic...
				%p
					%a{href: "http://snodgrassry.wordpress.com/2014/07/01/modal-tutorial/"}
						%i.fa.fa-link
						Read More
			.col-lg-4
				%img.img-responsive{alt: "", src: "images/post03.jpg"}/
				%h3
					%a{href: "http://snodgrassry.wordpress.com/2014/07/01/passing-values-from-one-page-to-the-other/"} Passing Values From One Page To The Other
				%p I was trying to connect nested tables between html pages but, I needed a way to pass the id value of the element down to the controller and back to the other view...
				%p
					%a{href: "http://snodgrassry.wordpress.com/2014/07/01/passing-values-from-one-page-to-the-other/"}
						%i.fa.fa-link
						Read More
			.col-lg-4
				%img.img-responsive{alt: "", src: "images/portfolio/ajax_example.jpg"}/
				%h3
					%a{href: "http://snodgrassry.wordpress.com/2014/05/19/ajaxs-solution-to-haml/"} AJAX's Solution To HAML
				%p The homework over the weekend has become the most difficult assignment, yet it sounded so simple! 
				%p
					%a{href: "http://snodgrassry.wordpress.com/2014/05/19/ajaxs-solution-to-haml/"}
						%i.fa.fa-link
						Read More
	
	.pt
		.container
			.row.mt
				.col-lg-12
					%h1 Stay Connected

					%p Join me on the social networks to keep track of all my going-ons and updates.
					%br/
			/ col-lg-12
		/ row
	/ container
	/ SOCIAL FOOTER -
	%section#contact
	#sf
		.container
			.row
				.col-md-3.dg
					%h4.ml BLOG
					%p.centered
						%a{href: "http://snodgrassry.wordpress.com/"}
							%i.fa.fa-wordpress
					%p.ml 
						%a.contact{href: "http://snodgrassry.wordpress.com/"}
							> Read My Musings
				.col-md-3.lg
					%h4.ml TWITTER
					%p.centered
						%a{href: "https://twitter.com/_ryansnodgrass"}
							%i.fa.fa-twitter
					%p.ml 
						%a.contact{href: "https://twitter.com/_ryansnodgrass"}
							> Follow Me
				.col-md-3.dg
					%h4.ml GITHUB
					%p.centered
						%a{href: "https://github.com/RyanSnodgrass"}
							%i.fa.fa-github
					%p.ml 
						%a.contact{href: "https://github.com/RyanSnodgrass"}
							> Checkout My Repos
				.col-md-3.lg
					%h4.ml LINKEDIN
					%p.centered
						%a{href: "http://www.linkedin.com/pub/ryan-snodgrass/96/3b8/241/"}
							%i.fa.fa-linkedin
					%p.ml
						%a.contact{href: "http://www.linkedin.com/pub/ryan-snodgrass/96/3b8/241/"}
							> Connect with Me

	/ Social Footer
	/ CONTACT FOOTER -
	#call
		.container
			.row
				%h3 CONTACT ME
				.col-lg-8.col-lg-offset-2
					%p
						Cell: 
						%a{href: "tel:9046875314"} (904) 687-5314
						%br/          
						Email:
						%a{href: "mailto:ryansnodgrass.dev@gmail.com"} ryansnodgrass.dev@gmail.com   
						%br
						Resume:
						%a{href: "https://www.dropbox.com/s/74dtaakr5yvo98a/Ryan%20Snodgrass%20Resume.pdf"}
							%i.fa.fa-dropbox
				
	%script{src: "https://code.jquery.com/jquery-1.10.2.min.js"}
	%script{src: "javascripts/bootstrap.min.js"}
	%script{src: "javascripts/main.js"}
	%script{src: "javascripts/masonry.pkgd.min.js"}
	%script{src: "javascripts/imagesloaded.js"}
	%script{src: "javascripts/classie.js"}
	%script{src: "javascripts/AnimOnScroll.js"}
	:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53191038-1', 'auto');
  ga('send', 'pageview');
	:javascript
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );